*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container1{
    background-color: rgb(38, 39, 39);
    border-radius: 15px;
    background-image: url(Team\ work.jpg);
    background: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

.background{
    font-size: 60px;
    font-family: sans-serif;
}




.About-us{
    display: flex;
    flex-direction: column;
    /* gap: 4rem;
    padding: 4px 2rem;
    border-top: 2rem; */
    padding: 3rem;
}

.programs{
    display: flex;
    gap: 19rem;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    text-transform: uppercase;
    color: #686D76;
    font-style: italic;
    border-top: 2rem;
}

.stroke-text{
    color: transparent;
    font-family:'Courier New', Courier, monospace;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #8c8e92;
    
}

.About-item{
    display: flex;
    justify-content: space-between;
    gap: 2px;
}

.mission{
    font-display: 20px;
    gap: 1rem;
    justify-content: center;
}

.mission-image{
    width: 400px;
    height: 50vh;
    border-radius: 20px;
}

.mission-title{
    font-size: 20px;
    align-content: center;
    justify-content: center;
    display: flex;

}

.value-image{
    width: 400px;
    height: 50vh;
    border-radius: 20px;
    gap: 3rem;
}

.objective-image{
    width: 400px;
    height: 50vh;
    border-radius: 20px;

}

@media screen and (max-width :31.25) {
    .container1{
        flex: 100%;
        max-width: 80%;
        flex-direction: column;
        align-items: center;
    }
    
}


.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-color: rgb(38, 39, 39);
    
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    border-top: 2rem;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color:  white#0bfa2f;
    padding-top: 5px;
    font-size: medium;
    font-weight: bolder;
}

.description h4 {
    text-transform: uppercase;
    color: #0bfa2f;
}



input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('mission.jpg');
}
.card[for="c2"] {
    background-image: url('values.jpg');
}
.card[for="c3"] {
    background-image: url('objective.jpg');
}
.card[for="c4"] {
    background-image: url('Team work.jpg');
} 

@media screen and(max-width:960px ) {
    .wrapper{
        flex: 100%;
        max-width: 80%;
        flex-direction: column;
        align-items: center;
    }
    
}

.testimonial{
    padding: 40px 0;
    background: #f1f1f1;
    color: #d6d4d4;
    text-align: center;
    background-color:rgb(38, 39, 39);
}

.inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
    align-items: center;

}
.test{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.border{
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;

}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col{
    flex: 50%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    gap: 8rem;
}

.img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
   


}
testimonies{
    background: #958e8e;
    padding: 30px;
    background-color: #686D76;
}

.name{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 20px 0;

}

@media screen and (max-width:960px) {
    .col{
        flex: 100%;
        max-width: 80%;
        flex-direction: column;
        align-items: center;
    }
    
}