.header {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  width: 100%;
  background-color: #686d76;
  text-transform: capitalize;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  padding: 2px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  padding: 10px;
  align-content: flex-end;
  text-decoration: none;
  list-style: none;
  border: 2px solid red;
  width: 100%;
}
.navbar a {
  text-decoration: none;
  padding: 10px;
}
a:hover {
  background-color: rgb(65, 68, 68);
  color: #edebeb;
  background-size: auto;
}
.navbar-item {
  text-decoration: none;
  padding: 1rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 30rem) {
  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border:  2px solid brown;
  }
  .navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .2rem;
  }
}

@media screen and (max-width:767px) and (min-width:481px){
  .navbar{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    gap: 0rem;

  }
  .header {
    flex-wrap: wrap;
    border: 10px solid red;
    display: flex;
  }
  
}