.section-header{
    gap: 3rem;
    padding: 3rem;
    border-radius: 20px;
   box-shadow: 0px 11px 55px 16px rgba(0,0,0,0.54);
-webkit-box-shadow: 0px 11px 55px 16px rgba(0,0,0,0.54);
-moz-box-shadow: 0px 11px 55px 16px rgba(0,0,0,0.54);
  display: grid;
  grid-template-columns: 2fr 1fr;
  


}
.Events-container{
    gap: 3rem;
    padding: 3rem;
    border-radius: 20px;
   box-shadow: 0px 11px 55px 16px rgba(0,0,0,0.54);
-webkit-box-shadow: 0px 11px 55px 16px rgba(0,0,0,0.54);
-moz-box-shadow: 0px 11px 55px 16px rgba(0,0,0,0.54);

  width: 40rem;
  background-color: dimgrey;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  gap: 4rem; 

}


.Events-container:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;


}
.Event-header h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-block: 2rem;
    margin-inline-start: 1.5rem;
    text-transform: uppercase;
    text-align: center;


}

.Event-header h3{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;

}

@media screen and (max-width: 50rem) {
    .Events-container{
        width: 30rem;
        padding: 2rem;
        gap: 2rem;
    }
    
}

@media screen and (max-width: 23rem) {
    .section-header{
        font-size: 1.5rem;
        display: flex;
        align-items: column;
    }   
}